<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsstokes.learnanything">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.topic_tree.TopicTreeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TopicActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.DarkActionBar" />
        <activity
            android:name=".ui.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.DarkActionBar" />
        <activity
            android:name=".ui.ExerciseActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.DarkActionBar" />
        <activity
            android:name=".ui.ArticleActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.DarkActionBar" />

        <service
            android:name=".sync.SyncService"
            android:exported="false" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="c53b7143afb848fea60149d3edc66591dda0d90e" />
    </application>

</manifest>
